<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../../css/goods.css" />
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/resizeFrame.js"></script>
</head>
<body>

	<div id="goods_c1_list">
		<div class="goods_area">
			<!-- soldout -->
			<div class="soldout">
				<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col1.png" alt="soldout" />
			</div>

			<div class="goods_info">
				<div class="goods_sale">
					<strong>18</strong>%
				</div>
				<p class="tag1">오늘오픈</p>
				<p class="tag">매진임박</p>
				<p>무료배송</p>
			</div>

			<div class="goods_img">
				<a href="#"><img src="../../images/@goods_col1.jpg" alt="" /></a>
			</div>

			<div class="goods_cnt">
				<div class="goods_name">
					<p>일이삼사오육칠팔구십 일이삼사오육칠팔구십육칠팔구십</p>
					<p>
						<strong>[지후맘]베이직리필형 80매 80팩</strong>
					</p>
				</div>
				<div class="goods_price">
					<span class="delete_price">
						<del>23,800</del>원
					</span>
					<span class="sale_price">
						<strong>1,245,000</strong>원
					</span>
					<span class="coupon_price">
						<strong>27</strong>% 쿠폰적용가 : <strong>43,100</strong>원
					</span>
				</div>
				
				<div class="goods_buy_btn">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/btn_buy.gif" alt="구매하기" /></a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>