<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../../css/goods.css" />
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/resizeFrame.js"></script>
</head>
<body>

	<div id="goods_c4_list">
		<ul class="goods_area">
			<li>
				<!-- soldout -->
				<div class="soldout"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col4.png" alt="" /></div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>41</strong><em>%</em>
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col4.jpg" alt="상품이미지" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>일이삼사오율칠</strong>
						<p>일이삼사오육칠팔구십일이</p>
					</div>
					<p class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</p>
				</div>
			</li>
			<li>
				<!-- 판매종료 -->
				<div class="end"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col4.png" alt="판매종료" /></div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>41</strong><em>%</em>
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col4.jpg" alt="상품이미지" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>일이삼사오율칠</strong>
						<p>일이삼사오육칠팔구십일이</p>
					</div>
					<p class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</p>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>41</strong><em>%</em>
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col4.jpg" alt="상품이미지" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>일이삼사오율칠</strong>
						<p>일이삼사오육칠팔구십일이</p>
					</div>
					<p class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</p>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>41</strong><em>%</em>
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col4.jpg" alt="상품이미지" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>일이삼사오율칠</strong>
						<p>일이삼사오육칠팔구십일이</p>
					</div>
					<p class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</p>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>
