<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../../css/goods.css" />
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/resizeFrame.js"></script>
</head>
<body>

	<!-- 상품브랜드, 상품명 작성시 -->
	<h3>상품브랜드, 상품명 작성시</h3>
	<div id="goods_c3_list">
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col3.png?ver=0.2" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
					<p class="tag">단독가</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
			<li>
				<!-- soldout -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col3.png?ver=0.2" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
		</ul>
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col3.png?ver=0.2" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
					<p class="tag">단독가</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
			<li>
				<!-- soldout -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col3.png?ver=0.2" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- 상품명 작성시 -->
	<h3>상품명만 작성시</h3>
	<div id="goods_c3_list">
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col3.png?ver=0.2" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
					<p class="tag">단독가</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
			<li>
				<!-- soldout -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col3.png?ver=0.2" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_logo">
					<p><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@logo.png" alt="로고" /></p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>

					<div class="quantity">
						65개  판매중
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- 로고가 없는 타입 -->
	<h3>로고가 없는 타입</h3>
	<div id="goods_c3_list">
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col3.png?ver=0.2" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
					<p class="tag">단독가</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
			<li>
				<!-- soldout -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col3.png?ver=0.2" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col3.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>

					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>