<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../../css/goods.css" />
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/resizeFrame.js"></script>
</head>
<body>

	<!-- 기본 타입 -->
	<h3>기본 타입</h3>
	<div id="goods_c2_list">
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col2.png" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
						<span class="quantity">
							65개  판매중
						</span>
					</div>
				</div>
			</li>
			<li>
				<!-- 판매완료 -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col2.png" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
						<span class="quantity">
							65개  판매중
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- 쿠폰가 추가 -->
	<h3>쿠폰가 추가</h3>
	<div id="goods_c2_list">
		<ul class="goods_area">
			<li>
				<!-- 판매종료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/end_col2.png" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
				<!-- 쿠폰가 추가시 -->
				<div class="goods_s_price">
					<label><img src="http://eventimg.auction.co.kr/md/auction/07E013A7E6/txt_coupon_sp.gif" alt="50% 쿠폰 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<!-- 판매완료 -->
				<div class="soldout">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/soldout_col2.png" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
				<!-- 쿠폰가 추가시 -->
				<div class="goods_s_price">
					<label><img src="http://eventimg.auction.co.kr/md/auction/07E013A7E6/txt_coupon_sp.gif" alt="50% 쿠폰 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
				<!-- 쿠폰가 추가시 -->
				<div class="goods_s_price">
					<label><img src="http://eventimg.auction.co.kr/md/auction/07E013A7E6/txt_coupon_sp.gif" alt="50% 쿠폰 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@goods_col2.jpg" alt="" /></a>
				</div>
				
				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>
							2014년 월드컵 티셔츠 패밀리룩
						</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
				<!-- 쿠폰가 추가시 -->
				<div class="goods_s_price">
					<label><img src="http://eventimg.auction.co.kr/md/auction/07E013A7E6/txt_coupon_sp.gif" alt="50% 쿠폰 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>