<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="euc-kr">
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no" />
	<meta http-equiv="cleartype" content="on"/>
	<link rel="stylesheet" href="../../css/m_goods.css">
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/qa_resizeContents.js"></script>
	<script type="text/javascript">
	<!--
		function resizeContents() {
			var incW = $('.goods_area').width();

			$(".goods_area .goods_info p").css({"fontSize":Math.floor(incW/28)});
			$('.goods_area .goods_sale').css({"fontSize":Math.floor(incW/16)});
			$('.goods_area .goods_sale strong').css({"fontSize":Math.floor(incW/10)});
			$('.goods_area .goods_name').css({"fontSize":Math.floor(incW/26)});
			$('.goods_area .goods_name strong').css({"fontSize":Math.floor(incW/20)});
			$('.goods_area .delete_price').css({"fontSize":Math.floor(incW/30)});
			$('.goods_area .delete_price del').css({"fontSize":Math.floor(incW/26)});
			$('.goods_area .sale_price').css({"fontSize":Math.floor(incW/26)});
			$('.goods_area .sale_price strong').css({"fontSize":Math.floor(incW/20)});
			$('.goods_area .s_price').css({"fontSize":Math.floor(incW/26)});
			$('.goods_area .s_price strong').css({"fontSize":Math.floor(incW/20)});
		}
	//-->
	</script>
</head>
<body>

	<div id="goods_c1_list">
		<ul class="goods_area">
			<li>
				<!-- 판매완료 -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/m_end_col1.png" alt="판매종료" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@m_goods_col1.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>

				<div class="goods_s_price">
					<label><img src="../../images/txt_m_point.jpg" alt="m포인트 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<!-- soldout -->
				<div class="end">
					<img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/m_soldout_col1.png" alt="soldout" />
				</div>

				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@m_goods_col1.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>

				<div class="goods_s_price">
					<label><img src="../../images/txt_m_point.jpg" alt="m포인트 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@m_goods_col1.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>

				<div class="goods_s_price">
					<label><img src="../../images/txt_m_point.jpg" alt="m포인트 적용가" /></label>
					<span class="s_price">
						<strong>23,800</strong>원
					</span>
				</div>
			</li>
			<li>
				<div class="goods_info">
					<div class="goods_sale">
						<strong>18</strong>%
					</div>
					<p>무료배송</p>
				</div>

				<div class="goods_img">
					<a href="#"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/@m_goods_col1.jpg" alt="" /></a>
				</div>

				<div class="goods_cnt">
					<div class="goods_name">
						<strong>우리가족 붉은악마</strong>
						<p>2014년 월드컵 티셔츠 패밀리룩</p>
					</div>
					<div class="goods_price">
						<span class="delete_price">
							<del>23,800</del>원
						</span>
						<span class="sale_price">
							<strong>1,245,000</strong>원
						</span>
					</div>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>