<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<style type="text/css">
		*{margin:0;padding:0;}
		img{border:0;vertical-align:top;}

		#p_navi{overflow:hidden;}
		#p_navi li{float:left;}
	</style>
</head>
<body>

	<div id="p_wrap">
		<div id="p_header">
			<div id="p_navi">
				<ul>
					<li><a href="#p_section01">section01</a></li>
					<li><a href="#p_section02">section02</a></li>
					<li><a href="#p_section03">section03</a></li>
				</ul>
			</div>

			<div id="p_visual">
				<img src="images/top.jpg" alt="" />
			</div>
		</div>

		<div id="p_container">
			<div id="p_section01">
				<img src="images/section01.jpg" alt="" />
			</div>
			<div id="p_section02">
				<img src="images/section02.jpg" alt="" />
			</div>
			<div id="p_section03">
				<img src="images/section03.jpg" alt="" />
			</div>
		</div>
	</div>

</body>
</html>