<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="euc-kr">
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no" />
	<meta http-equiv="cleartype" content="on"/>
	<style>
		*{margin:0;padding:0;}
		img{border:0;vertical-align:top;}

		#p_navi{overflow:hidden;}
		#p_navi li{float:left;width:33.3%;text-align:center;}
	</style>
</head>
<body>

	<div id="p_wrap">
		<div id="p_header">
			<div id="p_navi">
				<ul>
					<li><a href="#p_section01">section01</a></li>
					<li><a href="#p_section02">section02</a></li>
					<li><a href="#p_section03">section03</a></li>
				</ul>
			</div>

			<div id="p_visual">
				<img src="images/top.jpg" alt="" />
			</div>
		</div>

		<div id="p_container">
			<div id="p_section01">
				<img src="images/section01.jpg" alt="" />
			</div>
			<div id="p_section02">
				<img src="images/section02.jpg" alt="" />
			</div>
			<div id="p_section03">
				<img src="images/section03.jpg" alt="" />
			</div>
		</div>
	</div>

</body>
</html>