<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
	<title>옥션 - 모바일 쇼핑은 옥션</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="http://eventimg.auction.co.kr/md/auction/07C0B575AE/coupon.css" />
	<script type="text/javascript" src="http://script.auction.co.kr/common/jquery.js"></script>
	<script type="text/javascript" src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/resizeFrame.js"></script>
</head>
<body>
<body>

	<div id="coupon_area">
		<div class="value">
			남은수량: <strong>1,000</strong>장
		</div>
		<div class="btn">
			<a href="#" onclick="popupResult(1);"><img src="http://eventimg.auction.co.kr/md/auction/07C0B575AE/btn_coupon.png" alt="쿠폰받기" /></a>
		</div>
	</div>

</body>
</html>